*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #4C4C4C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 4.5vmin;
}

#screenDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
    width: 47vmin;
    height: 15vmin;
    padding: 1vmin;
    border-radius: 1vmin 1vmin 0 0;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
}

#panel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
    width: 47vmin;
    height: 6vmin;
    padding: 1vmin;
    gap: 1vmin;
    margin: 0;
    border-left-style: solid;
    border-right-style: solid;
}

#calculator {
    display: grid;
    width: 47vmin;
    grid-template-columns: repeat(4, 10vmin);
    grid-template-rows: repeat(4, 10vmin);
    background-color: #cccccc;
    gap: 1vmin;
    padding: 1vmin;
    border-radius:  0 0 1vmin 1vmin;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

.operation {
    background-color: #b2b0b0;
    border-radius: 1vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.2vmin 0.2vmin;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.operation:active {
    background-color: #4C4C4C;
}

#screenDiv {
    display: flex;
    flex-direction: column;
}

#topScreen {
    background-color: #b2b0b0;
    border-radius: 1vmin 1vmin 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 44vmin;
    height: 12vmin;
    border-style: solid;
    border-bottom-style: none;
    border-width: 0.3vmin;
    padding-right: 1vmin;
    font-size: 2.5vmin;
}

#screen {
    background-color: #b2b0b0;
    border-radius: 0 0 1vmin 1vmin;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 44vmin;
    height: 12vmin;
    border-style: solid;
    border-top-style: none;
    border-width: 0.3vmin;
    padding-right: 1vmin;
}

.clear, .back {
    width: 20vmin;
}
